/*
Kyle Kauck
Project Two
MIU 1305
May 13, 2013
*/

/* Link/Index Styling */
.cta {
	text-align: center;
}

.newsfeedGame {
	padding-bottom: 10px;
}

.ghButtons {
	padding-left: 15px;
	padding-right: 15px;
}

#consoleImage {
	vertical-align: middle;
}

#nameOfApp {
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
}

/* JSON Display */

#gameListInfo {
	border-bottom: 1px solid rgba(9,17,80,0.56);
	border-right: 1px solid rgba(9,17,80,0.56);
	border-left: 1px solid rgba(9,17,80,0.56);
	padding-top: 0;
	padding-bottom: 0;
	width: 310px;
}

#gameInfoList {
	display: block;
}

#gameInfoList:last-child {
    border-bottom: 1px solid rgba(9,17,80,0.56);
    padding-bottom: 10px;
}

#gameInfoList:first-child {
    font-family: "Tauri", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: #082863;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Form Display */

#required {
	font-weight: bold;
}

#example {
	display: block;
	font-size: smaller;
	margin-top: 10px; 
}

label.error {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	color: red;
}

#formErrorPopUp {
	display: none;
}