/*
Kyle Kauck
Project Four
MIU 1305
May 26, 2013
*/

/* Body Styling */

body {
	background: #4d4d4d /*{a-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #545454 /*{a-body-background-start}*/), to( #454545 /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #545454 /*{a-body-background-start}*/, #454545 /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #545454 /*{a-body-background-start}*/, #454545 /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #545454 /*{a-body-background-start}*/, #454545 /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #545454 /*{a-body-background-start}*/, #454545 /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #545454 /*{a-body-background-start}*/, #454545 /*{a-body-background-end}*/);
	color: white;
}

#formHeader {
	background: repeat #c1272d;
	font-family: Tahoma;
	color: white;
	margin-top: -10px;
	margin-left: -8px;
	margin-right: -8px;
}

.logo {
	padding-top: 10px;
	padding-left: 10px;
}

#homePage {
	font-style: none;
	color: white;
	font-family: Tahoma;
}

/* Link/Grid/Index Styling */

.cta {
	text-align: center;
}

a {
	text-decoration: none;
	color: white;
}

.centerPage {
	text-align: center;
}

input {
    box-shadow: 0px 0px 8px rgba(9,17,80,0.4);
    border: solid 1px black;
}

input:focus {
    border: solid 1px #429bb8;
}

.newsfeedGame {
	padding-bottom: 10px;
}

.ghButtons {
	padding-left: 15px;
	padding-right: 15px;
}

#consoleImage {
	vertical-align: middle;
}

#nameOfApp {
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
}

#submitButton {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #f5f6f6;
    border-radius: 15px;
    background-color: #FF530D;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    height: 45px;
    width: 200px;
}

/* JSON Display */

#gameListInfo {
	border-bottom: 1px solid rgba(9,17,80,0.56);
	border-right: 1px solid rgba(9,17,80,0.56);
	border-left: 1px solid rgba(9,17,80,0.56);
	padding-top: 0;
	padding-bottom: 0;
	width: 310px;
}

#gameInfoList {
	display: block;
}

#gameInfoList:last-child {
    border-bottom: 1px solid rgba(9,17,80,0.56);
    padding-bottom: 10px;
}

#gameInfoList:first-child {
    font-family: "Tauri", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: #082863;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Form Display */

#gameTitle {
    display: block;
    width: 290px;
    height: 20px;
}

#consoles {
    display: block;
    width: 300px;
    height: 20px;
}

#genre {
    display: block;
    width: 290px;
    height: 20px;
}

#dateAdded {
    display: block;
    width: 290px;
    height: 20px;
}

#rating {
    display: block;
    width: 290px;
    height: 20px;
}

#download {
    display: block;
    width: 290px;
    height: 20px;
}

textarea {
    display: block;
    box-shadow: 0px 0px 8px rgba(9,17,80,0.4);
    width: 290px;
    height: 150px;
    border: solid 1px black;
}

#inputHint {
	font-size: 14px;
}

.warning {
	background-color: rgba(245,16,16,0.2);
    border: 2px solid red;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

#warningSystem {
	display: none;
	font-size: 14px;
	font-weight: bold;
	background-color: rgba(245,16,16,0.2);
    border: 2px solid red;
    margin-bottom: 3px;
    margin-left: 3px;
    padding: 10px 10px;
}

#errorMessages {
	color: white;
	display: block;
	background-color: rgba(245,16,16,0);
	margin-right: 0px;
    margin-bottom: 3px;
    padding-left: 0px;
}

#createdButton {
	margin-left: 5px;
	font-weight: bold;
}